body {
  margin: 0px;
}
#text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
  font-size: 40px;
  color: darkblue;
  display: inline-flex;
  border-bottom: 3px solid blueviolet;
  margin: 25px 20px;
}

b {
  font-size: 20px;
  color: darkcyan;
}